.bottom-border {
    border-bottom-width: 3px;       /* Thickness of the bottom border */
    border-bottom-style: solid;      /* Style of the bottom border */
    border-bottom-color: aqua;       /* Color of the bottom border */
    padding-bottom: 5px;             /* Some padding to separate text from border */
}
